$color_1: white;
$color_2: red;
$color_3: #ffffff;
$color_4: rgba(255, 255, 255, 0.6);
$color_5: #ff214f;
$color_6: #232323;
$color_7: #6f6f6f;
$color_8: #939393;
$color_9: #d6d5d5;
$color_10:#484848;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: #1c1c1c;
$background-color_2: #ffffff;
$background-color_3: #f7f7f7;
$background-color_4: #ff214f;
$background-color_5: transparent;
$background-color_5:rgba(0,0,0,.15);
$background-color_6:rgba(0,0,0,.70);

$order_1:1;
$order_2:2;
$order_3:3;
$order_4:4;
$order_5:5;
$order_6:6;
$order_7:7;
$order_8:8;

$desktops : 1280px;
$laptops :1024px;
$mobiles : 768px;


$padding_desktops_nav: 0 calc(15rem - 10%);
$padding_laptops_nav: 0 calc(10rem - 10%);
$padding_mobiles_nav: 0 5rem;

$padding_desktops_section: 130px calc(15rem - 10%);
$padding_laptops_section: 90px calc(10rem - 10%);
$padding_mobiles_section: 75px 5rem

// padding:$padding_desktops_section;
// padding:$padding_laptops_section;

// padding:$padding_mobiles_section;
