* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: $font-family_1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color_6;
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
}
h4 {
  font-size: 35px;
  line-height: 46px;
}
h5 {
  font-size: 32px;
  line-height: 40px;
}
h6 {
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: $color_1;
}
p {
  font-weight: 500;
}
ul {
  list-style: none;
}
span{
  display: block;
  
}
.hiddenBottom {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}
.showBottom {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  transform: translateX(0);
}
// Hidden Right

.hiddenRight {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
.showRight {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  transform: translateX(0);
}

.d1 {
  transition-delay: 100ms;
}
.d2 {
  transition-delay: 150ms;
}
.d3 {
  transition-delay: 200ms;
}
.d4 {
  transition-delay: 250ms;
}
.d5 {
  transition-delay: 300ms;
}
.d6 {
  transition-delay: 350ms;
}
.d7 {
  transition-delay: 400ms;
}
.d8 {
  transition-delay: 450ms;
}
.d9 {
  transition-delay: 500ms;
}
