#navbar {
  background-image: url(../assets/homePage/homepage-1.jpeg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-attachment: fixed;

  .bg-overlay {
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $background-color_1;
    z-index: 0;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding_desktops_nav;
    width: 100%;
    z-index: 10;
    position: relative;
  }

  .span-stars {
    color: red;
    font-size: 35px;
    display: inline-block;
  }

  .navbar-logo {
    padding: 26px 0px;
    z-index: 99;

    .logo-white {
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      img {
        max-height: 26px;
      }
    }
    .logo-black{
      display: none;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      img {
        max-height: 26px;
      }
    }
  }

  .navbar-links {
    z-index: 99;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 10px;
      padding: 26px 0px;

      a:hover {
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s ease-in-out;
      }
    }

    a {
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      position: relative;
      width: 100%;
      display: block;
      &::after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        height: 3px;
        width: 0;
        transition: 300ms;
        left: 0;
        bottom: -10px;
        margin-left: 50%;
        margin-right: 50%;
      }

      &:hover:after {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .navbar-toggle  {
    display: none;
    i{
     font-size: 30px;
      cursor: pointer;
      position: relative;
      color: $color_1;
    }
    
  }
  

  .text-center-homepage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
// 
  .hide{
    bottom: 0 !important;
    z-index: 0;
    overflow: hidden;
  }

  .sticky {
    position: fixed;
    transition: 0.5s ease-in-out;
    background-color: $background-color_2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    .navbar-links{
      ul{
        li{
          a{
            color:$color_6 ;
          }
        }
      }
    }
    .navbar-logo{
      .logo-white{
        display: none;
      }
      .logo-black{
        display: block
      }
    }
    .navbar-toggle{
      i{
        color: $color_6;
      }
    }
}   

  //  RESONSIVE NAVBAR
  @media (max-width: $desktops) {
    .navbar-container {
      padding: $padding_desktops_nav;
    }
  }

  @media (max-width: $laptops) {
    .navbar-container {
      padding: $padding_laptops_nav;
      .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        padding: 0 calc(10rem - 10%);
        ul {
          flex-direction: column;
          align-items: start;
          background-color: rgba(23,23,23,0.95) !important;
        }
        li {
          width: 100%;
          padding: 10px 0px;
          margin: 0 !important;
          border-bottom: 1px solid $color_8 ;
        }
        a {
          font-size: 12px;
        }
      }
      .navbar-toggle {
        display: block;
      }
      
    }
  }

  @media (max-width: $mobiles) {
    .navbar-container{
      padding: $padding_mobiles_nav ;
    }
    background-attachment: inherit;
    background-position: center center;
    height: 480px;
    position: relative;

    .text-center-homepage img {
      width: 100%;
      height: 100%;
    }
    .text-center-homepage {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
