* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
}

h4 {
  font-size: 35px;
  line-height: 46px;
}

h5 {
  font-size: 32px;
  line-height: 40px;
}

h6 {
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-weight: 500;
}

ul {
  list-style: none;
}

span {
  display: block;
}

.hiddenBottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}

.showBottom {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.showLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.d1 {
  transition-delay: 100ms;
}

.d2 {
  transition-delay: 150ms;
}

.d3 {
  transition-delay: 200ms;
}

.d4 {
  transition-delay: 250ms;
}

.d5 {
  transition-delay: 300ms;
}

.d6 {
  transition-delay: 350ms;
}

.d7 {
  transition-delay: 400ms;
}

.d8 {
  transition-delay: 450ms;
}

.d9 {
  transition-delay: 500ms;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px calc(15rem - 10%);
  padding-top: 130px;
  padding-bottom: 130px;
}
.about .about-title {
  margin-bottom: 8% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-title p {
  font-size: 16px;
  line-height: 23px;
  color: #ff214f;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}
.about .about-title h3 {
  display: inline-block !important;
  color: #232323;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}
.about .about-text-content {
  width: 75%;
}
.about .about-text-content h4 {
  font-size: 16px;
  color: #232323;
  font-weight: 600 !important;
}
.about .about-text-content p {
  display: inline-block;
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;
}
.about .about-box {
  display: flex;
}
.about .about-box-content {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}
.about .icons {
  padding-right: 15px;
  color: #939393;
  opacity: 0.5;
  width: 55px;
}

.about-image {
  background-image: url(../assets/homePage/homepage-2.jpeg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.about-image .bg-overlay {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
.about-image .about-image-text {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.about-image .about-image-text h4 {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px !important;
}
.about-image .about-image-text span {
  width: 95%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: #d6d5d5;
}
.about-image .icon-image {
  width: 100px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.about-image .icon-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.about-image .about-icon {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1280px) {
  .about {
    padding: 130px calc(15rem - 10%);
  }
  .about-image {
    background-position: center;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 90px calc(10rem - 10%);
  }
  .about-title h3 {
    font-size: 24px;
  }
  .about-image {
    background-position: center;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 75px 5rem;
  }
  .about-title h3 {
    font-size: 24px;
  }
  .about-box {
    display: flex;
    flex-direction: column;
  }
  .about-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .about-text-content h4 {
    margin-top: 20px;
  }
  .about-text-content p {
    text-align: center;
  }
  .about-box-content {
    flex-direction: column;
  }
  .about-icon {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-image {
    background-position: center;
    background-attachment: initial;
  }
}
#navbar {
  background-image: url(../assets/homePage/homepage-1.jpeg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-attachment: fixed;
}
#navbar .bg-overlay {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
#navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(15rem - 10%);
  width: 100%;
  z-index: 10;
  position: relative;
}
#navbar .span-stars {
  color: red;
  font-size: 35px;
  display: inline-block;
}
#navbar .navbar-logo {
  padding: 26px 0px;
  z-index: 99;
}
#navbar .navbar-logo .logo-white {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
#navbar .navbar-logo .logo-white img {
  max-height: 26px;
}
#navbar .navbar-logo .logo-black {
  display: none;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
#navbar .navbar-logo .logo-black img {
  max-height: 26px;
}
#navbar .navbar-links {
  z-index: 99;
}
#navbar .navbar-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar .navbar-links li {
  margin: 0 10px;
  padding: 26px 0px;
}
#navbar .navbar-links li a:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease-in-out;
}
#navbar .navbar-links a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  width: 100%;
  display: block;
}
#navbar .navbar-links a::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  height: 3px;
  width: 0;
  transition: 300ms;
  left: 0;
  bottom: -10px;
  margin-left: 50%;
  margin-right: 50%;
}
#navbar .navbar-links a:hover:after {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
#navbar .navbar-toggle {
  display: none;
}
#navbar .navbar-toggle i {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  color: white;
}
#navbar .text-center-homepage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#navbar .hide {
  bottom: 0 !important;
  z-index: 0;
  overflow: hidden;
}
#navbar .sticky {
  position: fixed;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#navbar .sticky .navbar-links ul li a {
  color: #232323;
}
#navbar .sticky .navbar-logo .logo-white {
  display: none;
}
#navbar .sticky .navbar-logo .logo-black {
  display: block;
}
#navbar .sticky .navbar-toggle i {
  color: #232323;
}
@media (max-width: 1280px) {
  #navbar .navbar-container {
    padding: 0 calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  #navbar .navbar-container {
    padding: 0 calc(10rem - 10%);
  }
  #navbar .navbar-container .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 0 calc(10rem - 10%);
  }
  #navbar .navbar-container .navbar-links ul {
    flex-direction: column;
    align-items: start;
    background-color: rgba(23, 23, 23, 0.95) !important;
  }
  #navbar .navbar-container .navbar-links li {
    width: 100%;
    padding: 10px 0px;
    margin: 0 !important;
    border-bottom: 1px solid #939393;
  }
  #navbar .navbar-container .navbar-links a {
    font-size: 12px;
  }
  #navbar .navbar-container .navbar-toggle {
    display: block;
  }
}
@media (max-width: 768px) {
  #navbar {
    background-attachment: inherit;
    background-position: center center;
    height: 480px;
    position: relative;
  }
  #navbar .navbar-container {
    padding: 0 5rem;
  }
  #navbar .text-center-homepage img {
    width: 100%;
    height: 100%;
  }
  #navbar .text-center-homepage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.service {
  padding: 130px calc(15rem - 10%);
  background-color: #f7f7f7;
}
.service .service-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-bottom: 15% !important;
}
.service .service-title h5 {
  margin-bottom: 20px !important;
  font-weight: bold;
  color: #232323;
}
.service .service-title p {
  text-align: center;
}
.service .service-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.service .service-box .service-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #ff214f;
}
.service .service-box .service-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  transition: all 0.3s ease;
  color: #ffffff;
  animation: out 500ms forwards;
}
.service .service-box .service-hover:hover:before {
  height: 100%;
  animation: in 500ms forwards;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.service .service-box .service-hover .service-icon {
  display: flex;
  justify-content: center;
  background-color: #ff214f;
  border-radius: 100%;
  height: 90px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 90px;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}
.service .service-box .service-hover:hover .service-icon {
  background-color: #ffffff;
}
.service .service-box .service-hover:hover .service-icon i {
  color: #ff214f;
}
.service .service-box .service-hover:hover .service-text-content {
  color: #ffffff;
}
.service .service-box .service-hover:hover .service-text-content h4 {
  color: #ffffff;
}
.service .service-box .service-hover .icon-center {
  display: flex;
  align-items: center;
}
.service .service-box .service-hover .icon-center i {
  font-size: 30px;
  color: white;
}
.service .service-box .service-box-content {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding-top: 18% !important;
  padding-right: 0px !important;
  padding-bottom: 18% !important;
  padding-left: 0px !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.service .service-box .service-box-content .service-text-content {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
}
.service .service-box .service-box-content .service-text-content h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .service {
    padding: 130px calc(15rem - 10%);
  }
  .service .service-box {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .service {
    padding: 90px calc(10rem - 10%);
  }
  .service .service-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .service {
    padding: 75px 5rem;
  }
  .service .service-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
@keyframes in {
  0% {
    background-color: #ff214f;
  }
  100% {
    background-color: #2f2f2f;
  }
}
@keyframes out {
  100% {
    background-color: #ff214f;
  }
  0% {
    background-color: #2f2f2f;
  }
}
.service-number {
  padding: 130px calc(15rem - 10%);
  background-color: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.service-number .service-number-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.service-number .service-number-content i {
  font-size: 35px;
}
.service-number .service-number-content p {
  font-size: 12px;
  color: #939393;
  display: block !important;
}
.service-number .service-number-content h6 {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 0px !important;
}

@media (max-width: 1280px) {
  .service-number {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 130px calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  .service-number {
    padding: 90px calc(10rem - 10%);
  }
}
@media (max-width: 768px) {
  .service-number {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    padding: 75px 5rem;
  }
  .service-number .service-number-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .service-number .service-number-content .number-text {
    text-align: center;
  }
}
.service-information {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.service-information .service-i-content {
  width: 50%;
  padding: 5%;
  background-color: #f7f7f7;
}
.service-information .service-i-content .service-i-title h5:first-child {
  font-size: 27px;
  line-height: 32px;
  margin: 0;
}
.service-information .service-i-content .service-i-title h5:last-child {
  font-size: 27px;
  line-height: 32px;
  font-weight: bold;
}
.service-information .service-i-content .question-content .question {
  background-color: #ffffff;
}
.service-information .service-i-content .question-content .question p {
  font-size: 14px;
  padding: 35px 28px 25px;
  display: none;
  background-color: #f7f7f7;
  line-height: 24px;
}
.service-information .service-i-content .question-content .question header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 0;
  padding: 18px 40px 19px 28px;
  position: relative;
}
.service-information .service-i-content .question-content .question header h5 {
  font-size: 15px;
  margin: 0;
}
.service-information .service-i-content .question-content .question header h5 span {
  font-weight: 600;
}
.service-information .service-i-content .question-content .question header button {
  padding: 0;
  border: none;
  background: none;
  border: none;
  cursor: pointer;
}
.service-information .service-i-content .question-content .question header i {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}
.service-information .service-i-image {
  background-image: url(../assets/service/homepage-3.jpeg);
  background-position: center;
  min-width: 50%;
  background-size: cover;
}

@media (max-width: 1024px) {
  .service-information {
    display: flex;
    flex-direction: column;
  }
  .service-information .service-i-content {
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
  }
  .service-information .service-i-image {
    width: 100%;
    min-height: 500px !important;
  }
}
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px calc(15rem - 10%);
  padding-top: 130px;
  padding-bottom: 130px;
}
.about .about-title {
  margin-bottom: 8% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-title p {
  font-size: 16px;
  line-height: 23px;
  color: #ff214f;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}
.about .about-title h3 {
  display: inline-block !important;
  color: #232323;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}
.about .about-text-content {
  width: 75%;
}
.about .about-text-content h4 {
  font-size: 16px;
  color: #232323;
  font-weight: 600 !important;
}
.about .about-text-content p {
  display: inline-block;
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;
}
.about .about-box {
  display: flex;
}
.about .about-box-content {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}
.about .icons {
  padding-right: 15px;
  color: #939393;
  opacity: 0.5;
  width: 55px;
}

.about-image {
  background-image: url(../assets/homePage/homepage-2.jpeg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.about-image .bg-overlay {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
.about-image .about-image-text {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.about-image .about-image-text h4 {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px !important;
}
.about-image .about-image-text span {
  width: 95%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: #d6d5d5;
}
.about-image .icon-image {
  width: 100px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.about-image .icon-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.about-image .about-icon {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1280px) {
  .about {
    padding: 130px calc(15rem - 10%);
  }
  .about-image {
    background-position: center;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 90px calc(10rem - 10%);
  }
  .about-title h3 {
    font-size: 24px;
  }
  .about-image {
    background-position: center;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 75px 5rem;
  }
  .about-title h3 {
    font-size: 24px;
  }
  .about-box {
    display: flex;
    flex-direction: column;
  }
  .about-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .about-text-content h4 {
    margin-top: 20px;
  }
  .about-text-content p {
    text-align: center;
  }
  .about-box-content {
    flex-direction: column;
  }
  .about-icon {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-image {
    background-position: center;
    background-attachment: initial;
  }
}
.work-1 {
  padding: 130px calc(15rem - 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.work-1 p {
  text-align: center;
  font-size: 14px;
  width: 50%;
}

.work-2 .filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.work-2 .filter-buttons .filter-button {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.work-2 .filter-buttons .filter-button:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #232323;
  transition: 300ms;
}
.work-2 .filter-buttons .filter-button.filter-button-active:after {
  transition: width 0.3s ease-in-out;
  width: 100%;
}
.work-2 .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.work-2 .gallery .gallery-item {
  position: relative;
  overflow: hidden;
}
.work-2 .gallery .gallery-item img {
  width: 100%;
  position: relative;
  transform: translateY(0);
  transition: transform 0.5s ease;
}
.work-2 .gallery .gallery-item:hover img {
  transform: translateY(-30%);
}
.work-2 .gallery .gallery-item .gallery-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  padding-bottom: 5%;
}
.work-2 .gallery .gallery-item .gallery-text h4 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.work-2 .gallery .gallery-item .gallery-text p {
  font-size: 12px;
  color: #6f6f6f;
  text-transform: uppercase;
}
.work-2 .gallery .gallery-item:hover .gallery-text {
  transform: translateY(0);
}

.work-3 {
  padding: 130px calc(15rem - 10%);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.work-3 .skills-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 17% !important;
}
.work-3 .skills-text h6 {
  font-size: 25px !important;
  margin-bottom: 20px;
  font-weight: 600;
}
.work-3 .skills-text p {
  font-size: 14px;
}
.work-3 .skills-bar-container .skill {
  padding: 15px;
  margin-bottom: 10px;
}
.work-3 .skills-bar-container .skill .skill-name {
  margin-bottom: 5px;
  font-size: 11px;
}
.work-3 .skills-bar-container .skill .skill-bar {
  position: relative;
  height: 5px;
  background: rgba(0, 0, 0, 0.15);
}
.work-3 .skills-bar-container .skill .skill-bar .skill-percentage {
  margin-bottom: 10px;
  display: block;
  width: 0%;
  height: 5px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: width 3s ease-in-out;
}
.work-3 .skills-bar-container .skill .skill-bar .skill-percentage p {
  position: absolute;
  top: 20%;
}
.work-3 .skills-bar-container .skill .skill-bar .skill-percentage-full {
  width: 100%;
  height: 5px;
  display: block;
}
.work-3 .skills-bar-container .skill .skill-bar .skill-percentage-text {
  position: absolute;
  font-size: 11px;
  top: -5px;
  right: -10%;
}

.work-4 {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  background-color: #232323;
}
.work-4 .work-4-brand-left {
  position: relative;
  overflow: hidden;
}
.work-4 .work-4-brand-left .bg-overlay1 {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
.work-4 .work-4-brand-left .work-4-image-brand {
  height: 100%;
}
.work-4 .work-4-brand-left .work-4-image-brand img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.work-4 .work-4-brand-left .work-4-text-brand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
  background-color: #ff214f;
  text-align: center;
}
.work-4 .work-4-brand-left .work-4-text-brand p {
  font-size: 25px;
  line-height: 30px;
  color: white;
}
.work-4 .work-4-brand-left .work-4-text-brand i {
  font-size: 80px;
  color: white;
  z-index: 9;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.work-4 .work-4-banner-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #232323;
  padding: 5rem;
}
.work-4 .work-4-banner-right span {
  color: #6f6f6f;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 15px;
}
.work-4 .work-4-banner-right h4 {
  font-weight: 600;
  color: #d6d5d5;
}
.work-4 .work-4-banner-right h6 {
  width: 90%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #6f6f6f;
}
.work-4 .work-4-banner-right p {
  color: #6f6f6f;
  font-size: 14px;
}
.work-4 .work-4-banner-right button {
  margin-top: 25px;
  padding: 10px 24px;
  transition: 0.3s ease-out;
  width: 50%;
}
.work-4 .work-4-banner-right button:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border: solid 1px white;
}
.work-4 .work-4-banner-right button:hover a {
  color: white;
}
.work-4 .work-4-banner-right a {
  color: #232323;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.work-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  overflow: hidden;
}
.work-5 .work-5-content {
  padding: 15% !important;
  border-right: 0.5px solid #d6d5d5;
}
.work-5 .work-5-content h2 {
  color: #d6d5d5;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: -3px;
}
.work-5 .work-5-content span {
  margin: 0 0 25px;
  color: #232323;
  font-weight: 600;
}

.work-6 {
  background-image: url(../../assets/work/work-bg-2.jpeg);
  padding: 130px calc(15rem - 10%);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work-6 .bg-overlay2 {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
.work-6 .work-6-text {
  width: 66.6666667%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10% !important;
}
.work-6 .work-6-text h4 {
  color: #d6d5d5;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
}
.work-6 .work-6-text h6 {
  color: #6f6f6f;
  width: 85%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  margin: 0 auto;
}
.work-6 .work-6-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.work-6 .work-6-box .box-6-container {
  margin: 0 auto;
  text-align: center;
}
.work-6 .work-6-box .box-6-container span i {
  position: relative;
  top: 0;
  transition: all 0.3s ease;
}
.work-6 .work-6-box .box-6-container .box-6-icons {
  font-size: 40px;
  color: #ff214f;
  margin-bottom: 20px;
}
.work-6 .work-6-box .box-6-container p {
  color: #d6d5d5;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.work-6 .work-6-box .box-6-container .text-bottom-line {
  position: relative;
  bottom: 0;
  width: 1px;
  border-top: 30px solid;
  border-color: #ff214f;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.work-6 .work-6-box .box-6-container:hover span i {
  top: -10px;
  color: white;
}
.work-6 .work-6-box .box-6-container:hover p {
  color: #ff214f;
}
.work-6 .work-6-box .box-6-container:hover .text-bottom-line {
  bottom: -10px;
  border-color: white;
}

@media (max-width: 1280px) {
  .work-1 {
    padding: 130px calc(15rem - 10%);
  }
  .work-2 .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .work-4-banner-right {
    padding: 130px calc(15rem - 10%);
  }
  .work-3 {
    padding: 130px calc(15rem - 10%);
  }
  .work-6 {
    padding: 130px calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  .work-1 {
    padding: 90px calc(10rem - 10%);
  }
  .work-2 .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .work-3 {
    padding: 90px calc(10rem - 10%);
    grid-template-columns: repeat(1, 1fr);
  }
  .work-3 .skills-text {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .work-3 .skills-bar-container .skill .skill-bar .skill-percentage-text {
    right: -5%;
  }
  .work-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .work-4 .work-4-brand-left {
    height: 50vh;
  }
  .work-4 .work-4-brand-left .work-4-text-brand {
    width: 60%;
  }
  .work-4 .work-4-brand-left .work-4-text-brand p {
    font-size: 22px;
  }
  .work-4 .work-4-banner-right {
    padding: 90px calc(10rem - 10%);
    text-align: center;
    display: block;
  }
  .work-5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .work-5 .work-5-content {
    padding: 50px !important;
    border-bottom: 0.5px solid #d6d5d5;
  }
  .work-6 {
    padding: 90px calc(10rem - 10%);
  }
}
@media (max-width: 768px) {
  .work-1 {
    padding: 75px 5rem;
  }
  .work-2 .filter-buttons {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .work-2 .filter-buttons .filter-button {
    width: 20%;
  }
  .work-2 .filter-buttons .filter-button.filter-button-active:after {
    transition: width 0.3s ease-in-out;
    margin-left: 0;
    margin-right: 0;
  }
  .work-2 .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .work-3 {
    padding: 75px 5rem;
  }
  .work-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .work-5 h2 {
    font-size: 30px !important;
    line-height: 36px;
  }
  .work-5 span {
    font-size: 16px;
    line-height: 23px;
  }
  .work-6 {
    padding: 75px 5rem;
    width: 100%;
    position: relative;
  }
  .work-6 .work-6-text h4 {
    font-size: 24px;
  }
  .work-6 .work-6-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.creative-people {
  padding: 130px calc(15rem - 10%);
  text-align: center;
}
.creative-people .creative-text {
  margin-bottom: 15% !important;
  padding-left: 15px;
  padding-right: 15px;
}
.creative-people .creative-text h5 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px !important;
  color: #232323;
}
.creative-people .creative-text div {
  width: 60%;
  margin: 0 auto;
}
.creative-people .creative-text div p {
  font-size: 14px;
}
.creative-people .creative-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.creative-people .creative-box-container .creative-box .creative-box-content {
  position: relative;
}
.creative-people .creative-box-container .creative-box .creative-box-content .image-creative {
  position: relative;
  transition: all 0.5s ease;
}
.creative-people .creative-box-container .creative-box .creative-box-content .image-creative img {
  max-width: 100%;
  display: block;
}
.creative-people .creative-box-container .creative-box .creative-box-content .image-creative .bg-overlay-creative {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.5s ease;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ff214f;
}
.creative-people .creative-box-container .creative-box .creative-box-content .creative-box-infor {
  position: relative;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 25px 0px;
}
.creative-people .creative-box-container .creative-box .creative-box-content .creative-box-infor .creative-desc {
  border-bottom: 1px solid #ff214f;
  padding-bottom: 10px;
}
.creative-people .creative-box-container .creative-box .creative-box-content .creative-box-infor .creative-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 5px;
  padding: 30px 0px;
  height: 10px;
  width: 70%;
  margin: 0 auto;
}
.creative-people .creative-box-container .creative-box .creative-box-content .creative-box-infor .creative-icon a i {
  transition: all 0.3s ease;
  color: #232323;
}
.creative-people .creative-box-container .creative-box .creative-box-content .creative-box-name {
  position: absolute;
  padding: 20px 0px;
  width: 100%;
  bottom: 10%;
  transition: all 0.2s ease;
}
.creative-people .creative-box-container .creative-box .creative-box-content .creative-box-name h5 {
  font-size: 12px;
  font-weight: 700;
}
.creative-people .creative-box-container .creative-box:hover {
  overflow: hidden;
}
.creative-people .creative-box-container .creative-box:hover .image-creative .bg-overlay-creative {
  opacity: 0.8;
}
.creative-people .creative-box-container .creative-box:hover .creative-box-infor {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.creative-people .creative-box-container .creative-box:hover .creative-box-name {
  bottom: 60%;
}
.creative-people .creative-box-container .creative-box:hover .creative-box-name h5 {
  color: white;
}
.creative-people .creative-box-container .creative-box:hover .creative-box-name p {
  color: white;
}
.creative-people .creative-box-container .creative-box:hover .creative-icon i:hover {
  color: #ff214f !important;
}
.creative-people .creative-box-container .creative-box-name h5 {
  font-size: 12px !important;
  color: #6f6f6f;
  margin: 5px !important;
  line-height: 14px;
}
.creative-people .creative-box-container .creative-box-name p {
  font-size: 11px;
  line-height: 14px;
}

@media (max-width: 1280px) {
  .creative-people {
    padding: 130px calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  .creative-people {
    padding: 90px calc(10rem - 10%);
  }
  .creative-people .creative-box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .creative-people {
    padding: 75px 5rem;
  }
  .creative-people .creative-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blog-container {
  padding: 130px calc(15rem - 10%);
  background-color: #f7f7f7;
}
.blog-container .blog-text {
  margin-bottom: 15% !important;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.blog-container .blog-text h5 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px !important;
  color: #232323;
}
.blog-container .blog-text div {
  width: 60%;
  margin: 0 auto;
}
.blog-container .blog-text div p {
  font-size: 14px;
}
.blog-container .blog-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blog-container .blog-box article {
  border: 1px solid #fff;
  flex: 1;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog-container .blog-box article .blog-img {
  overflow: hidden;
  scale: 1;
}
.blog-container .blog-box article .blog-img img {
  width: 100%;
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease;
}
.blog-container .blog-box article .blog-img img:hover {
  cursor: pointer;
  scale: 1.5;
}
.blog-container .blog-box article .blog-box-text {
  background-color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.blog-container .blog-box article .blog-box-text h2 {
  margin: 0;
  text-transform: capitalize;
  font-size: 16px;
}
.blog-container .blog-box article .blog-box-text p {
  font-size: 12px;
  line-height: 26px;
  margin-top: 0;
  color: #939393;
  padding: 20px 0px;
  border-bottom: 1px solid #939393;
}
.blog-container .blog-box article .blog-box-text h3 {
  color: #6f6f6f;
  margin-top: 25px;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .blog-container {
    padding: 130px calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  .blog-container {
    padding: 90px calc(10rem - 10%);
  }
  .blog-container .blog-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .blog-container {
    padding: 75px 5rem;
  }
  .blog-container .blog-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px calc(15rem - 10%);
  padding-top: 130px;
  padding-bottom: 130px;
}
.about .about-title {
  margin-bottom: 8% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-title p {
  font-size: 16px;
  line-height: 23px;
  color: #ff214f;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}
.about .about-title h3 {
  display: inline-block !important;
  color: #232323;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}
.about .about-text-content {
  width: 75%;
}
.about .about-text-content h4 {
  font-size: 16px;
  color: #232323;
  font-weight: 600 !important;
}
.about .about-text-content p {
  display: inline-block;
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;
}
.about .about-box {
  display: flex;
}
.about .about-box-content {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}
.about .icons {
  padding-right: 15px;
  color: #939393;
  opacity: 0.5;
  width: 55px;
}

.about-image {
  background-image: url(../assets/homePage/homepage-2.jpeg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.about-image .bg-overlay {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
.about-image .about-image-text {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.about-image .about-image-text h4 {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px !important;
}
.about-image .about-image-text span {
  width: 95%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: #d6d5d5;
}
.about-image .icon-image {
  width: 100px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.about-image .icon-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.about-image .about-icon {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1280px) {
  .about {
    padding: 130px calc(15rem - 10%);
  }
  .about-image {
    background-position: center;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 90px calc(10rem - 10%);
  }
  .about-title h3 {
    font-size: 24px;
  }
  .about-image {
    background-position: center;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 75px 5rem;
  }
  .about-title h3 {
    font-size: 24px;
  }
  .about-box {
    display: flex;
    flex-direction: column;
  }
  .about-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .about-text-content h4 {
    margin-top: 20px;
  }
  .about-text-content p {
    text-align: center;
  }
  .about-box-content {
    flex-direction: column;
  }
  .about-icon {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-image {
    background-position: center;
    background-attachment: initial;
  }
}
.clients-container {
  background-image: url(../../assets/blog/blog-bg.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  padding: 81px 15rem;
  overflow: hidden;
}
.clients-container .bg-overlay-clients {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 0;
}
.clients-container .clients-slide {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 20px;
  animation: scroll 10s linear infinite;
  width: 200vw;
}
.clients-container .clients-slide::-webkit-scrollbar {
  display: none;
}
.clients-container .clients-slide .clients-items {
  padding: 60px 20px;
  text-align: center;
  width: 25vw;
  scroll-snap-align: start;
}
.clients-container .clients-slide .clients-items img {
  height: 100%;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.clients-box {
  padding: 75px 5rem;
  text-align: center;
  overflow: hidden;
}
.clients-box .clients-text h5 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px !important;
  color: #232323;
}
.clients-box .clients-text div {
  width: 60%;
  margin: 0 auto;
}
.clients-box .clients-text div p {
  font-size: 14px;
}
.clients-box .clients-people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 10%;
}
.clients-box .clients-people .people-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.clients-box .clients-people .people-box img {
  width: 30%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 30px;
}
.clients-box .clients-people .people-box p {
  font-size: 14px;
  display: inline-block !important;
  margin-bottom: 30px;
}
.clients-box .clients-people .people-box div {
  margin-top: auto;
}
.clients-box .clients-people .people-box div i {
  font-size: 24px;
  color: #ff214f;
  margin-bottom: 15px;
  display: block !important;
}
.clients-box .clients-people .people-box div h4 {
  font-size: 11px;
  line-height: 10px;
  margin: 0 !important;
  font-weight: 800;
}
.clients-box .clients-people .people-box div p {
  font-size: 11px;
}

@media (max-width: 1280px) {
  .clients-slide {
    padding: 75px 5rem;
  }
  .clients-box {
    padding: 130px calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  .clients-slide {
    padding: 75px 5rem;
  }
  .clients-box {
    padding: 90px calc(10rem - 10%);
  }
}
@media (max-width: 768px) {
  .clients-slide {
    padding: 75px 5rem;
  }
  .clients-box {
    padding: 75px 5rem;
  }
  .clients-box .clients-people {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact-form {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-form .contact-brand-left {
  position: relative;
  overflow: hidden;
}
.contact-form .contact-brand-left .contact-image-brand {
  height: 100%;
}
.contact-form .contact-brand-left .contact-image-brand img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.contact-form .contact-banner-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #232323;
  padding: 100px;
}
.contact-form .contact-banner-form .contact-form-title {
  margin: 0 auto;
  text-align: center;
}
.contact-form .contact-banner-form span {
  color: #6f6f6f;
  font-size: 12px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact-form .contact-banner-form h4 {
  font-weight: 600;
  font-size: 32px;
  color: #d6d5d5;
}
.contact-form .contact-banner-form .contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form .contact-banner-form .contact-form .field input, .contact-form .contact-banner-form .contact-form .field textarea {
  width: 100%;
  margin: 0 0 10px 0;
  max-width: 100%;
  padding: 10px 0px;
  resize: none;
  outline: none;
  border: none;
  background-color: #232323;
  border-bottom: 2px solid #484848;
  color: #6f6f6f;
}
.contact-form .contact-banner-form .contact-form .field input:focus, .contact-form .contact-banner-form .contact-form .field textarea:focus {
  color: #6f6f6f;
}
.contact-form .contact-banner-form .contact-form button[type=submit] {
  background-color: #ff214f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 50%;
  margin: 0 auto;
}
.contact-form .contact-banner-form .contact-form button[type=submit]:hover {
  color: #ff214f;
  border: 1px solid #ff214f;
  background-color: #232323;
}

.contact-address {
  padding: 130px calc(15rem - 10%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 0 auto;
  text-align: center;
}
.contact-address .address-content {
  display: flex;
  flex-direction: column;
}
.contact-address .address-content i {
  font-size: 35px;
  display: block !important;
  margin-bottom: 25px;
}
.contact-address .address-content h4 {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-address .address-content p {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: auto;
}
.contact-address .address-content a {
  margin-top: 15px;
  margin-top: auto;
  font-size: 12px;
  display: inline-block !important;
  color: #ff214f;
  position: relative;
  width: 65%;
  margin: 0 auto;
}
.contact-address .address-content a::after {
  position: absolute;
  content: "";
  height: 1px;
  left: -10px;
  top: 53%;
  width: calc(100% + 20px);
  background-color: #ff214f;
}

@media (max-width: 1280px) {
  .contact-form .contact-banner-form {
    padding: 50px;
  }
  .contact-address {
    padding: 130px calc(15rem - 10%);
  }
}
@media (max-width: 1024px) {
  .contact-address {
    padding: 90px calc(10rem - 10%);
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-address .address-content {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-form .contact-banner-form {
    padding: 75px 5rem;
  }
  .contact-address {
    padding: 75px 5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer-content {
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
}
.footer-content a img {
  width: 100%;
}
.footer-content p {
  font-size: 12px;
  line-height: 20px;
}
.footer-content .footer-icon a i {
  margin-left: 10px;
  color: #232323;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */